INIT.BACKGROUND = 0
INIT.LIGHTSDIR = 4
INIT.FRAMERATE = 10
INIT.CUBE.ROTATIONX =  120
INIT.CUBE.ROTATIONZ =  120
INIT.RGBSCALEFACTOR = 1
INIT.MAXCUBES = 5
INIT.LIGHTNING.SPEED = 0.01
INIT.LIGHTNING.DISTANCE = 700
INIT.SCREEN.WIDTH = 720
INIT.SCREEN.HEIGHT = 576
INIT.CAMERA.SPEED = 1
INIT.CAMERA.ROTATIONSPEED = 10
INIT.CAMERA.ROTATION = 10,-6748,0
INIT.CAMERA.POSITION = -1278,-267,310
INIT.IMAGESOURCE.DIRECTORY = /home/ruben/Desktop/new/
INIT.IMAGESOURCE.ONEFILE = /home/ruben/Desktop/grid-order-structure_plants_04.jpg
INIT.IMAGESOURCE.CAMERA = 0
INIT.IMAGESOURCE.MOVIE = /home/ruben/sint lukas/2010-2011/newmedia/pixelsculpture/tree/video/boom.mov
TARGET.MOVIE = /home/ruben/sint lukas/2010-2011/newmedia/pixelsculpture/tree/video/export.avi
KEYMAP.CAMERA.FORWARD = z
KEYMAP.CAMERA.BACKWARD = s
KEYMAP.CAMERA.LEFT = q
KEYMAP.CAMERA.RIGHT = d
KEYMAP.CAMERA.JUMP = \u0020
KEYMAP.CAMERA.CROUCH = \u0017
KEYMAP.CUBES.INCSCALE = a
KEYMAP.CUBES.DECSCALE = e
KEYMAP.CUBES.INCSTROKE = "
KEYMAP.CUBES.DECSTROKE = &
KEYMAP.LIGHTNING.INCDIR = +
KEYMAP.LIGHTNING.DECDIR = -
KEYMAP.LIGHTNING.INCDIST = p
KEYMAP.LIGHTNING.DECDIST = o
KEYMAP.LIGHTNING.INCHEIGHT = m
KEYMAP.LIGHTNING.DECHEIGHT = l
KEYMAP.DO.SCREENSHOT = x
KEYMAP.DO.LOADFILE = ²
KEYMAP.DO.ACTIVATE.UI = \u0009
KEYMAP.DO.TOGGLEDEBUGINFO = = 
KEYMAP.DO.TOGGLEAUTOLIGHTS = )
KEYMAP.DO.SWITCHCUBERENDERER = 0
KEYMAP.DO.TOGGLEINTERACTIVE = à
KEYMAP.DO.RECORD = r
KEYMAP.BACKGROUND.UP = c
KEYMAP.BACKGROUND.DOWN = w

