INIT.BACKGROUND = 100
INIT.LIGHTSDIR = 0
INIT.CUBE.ROTATIONX =  120
INIT.CUBE.ROTATIONZ =  120
INIT.RGBSCALEFACTOR = 5
INIT.LIGHTNING.SPEED = 0.01
INIT.SCREEN.WIDTH = 700
INIT.SCREEN.HEIGHT = 700
INIT.CAMERA.SPEED = 1
INIT.CAMERA.ROTATIONSPEED = 10
INIT.CAMERA.ROTATION = 10,-6748,0
INIT.CAMERA.POSITION = -1278,-267,310
INIT.IMAGESOURCE.DIRECTORY = /home/ruben/work/processing/eclipse/pixelsculptor/bin/data
INIT.IMAGESOURCE.ONEFILE = /home/ruben/work/processing/eclipse/pixelsculptor/bin/data/p001.png
KEYMAP.CAMERA.FORWARD = z
KEYMAP.CAMERA.BACKWARD = s
KEYMAP.CAMERA.LEFT = q
KEYMAP.CAMERA.RIGHT = d
KEYMAP.CAMERA.JUMP = \u0020
KEYMAP.CAMERA.CROUCH = \u0017
KEYMAP.CUBES.INCSCALE = a
KEYMAP.CUBES.DECSCALE = e
KEYMAP.CUBES.INCSTROKE = "
KEYMAP.CUBES.DECSTROKE = &
KEYMAP.LIGHTNING.INCDIR = +
KEYMAP.LIGHTNING.DECDIR = -
KEYMAP.LIGHTNING.INCDIST = p
KEYMAP.LIGHTNING.DECDIST = o
KEYMAP.LIGHTNING.INCHEIGHT = m
KEYMAP.LIGHTNING.DECHEIGHT = l
KEYMAP.DO.SCREENSHOT = x
KEYMAP.DO.LOADFILE = ²
KEYMAP.DO.ACTIVATE.UI = \u0009
KEYMAP.DO.TOGGLEDEBUGINFO = = 
KEYMAP.DO.TOGGLEAUTOLIGHTS = )
KEYMAP.DO.SWITCHCUBERENDERER = 0
KEYMAP.BACKGROUND.UP = c
KEYMAP.BACKGROUND.DOWN = w

